html,
body {
  height: 100%;
}

.flex-info {
  display: flex;
  justify-content: space-between;
}

body {
  @extend .flex-info;
  flex-direction: column;

  h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    color: getColor(blackish2);
  }
}

.margin-info {
  margin: 0 auto;
  margin-bottom: 20px;
}

.cards {
  &__item {
    @include makeCard(getColor(cream), none);
    @extend .margin-info;
  }

  &__item--white {
    @include makeCard(white, getColor(cherry));
    @extend .margin-info;
  }

  &__item--pink {
    @include makeCard(getColor(cherry), white);
    @extend .margin-info;
  }
}
