html, body {
    height: 100%;
}

body {
    background-color: getColor(light-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
    color: getColor(blackish);
    }
}

.row {
    
    .card {
        @include makeCard(getColor(cream),none);
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .white {
        @include makeCard(white,getColor(cherry));
    }

    .pink {
        @include makeCard(getColor(cherry),white);
    }
}



