@mixin makeCard($fillColor, $borderColor) {
  width: 264px;
  height: 264px;
  border-radius: 5%;
  background-color: $fillColor;
  border: 3px solid $borderColor;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}
