.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;

  .navbar-brand {
    color: getColor(blackish);
  }

  li {
    &:hover {
      background-color: lighten($color: getColor(cream), $amount: 10%);
    }
  }

  .navbar-toggler {
    border: none;
  }

  .about {
    @media (max-width: 768px) {
      margin-bottom: 50px;
    }
  }
}
