html {
  font-family: $primary-font;
}

.navbar-brand {
  font-weight: 300;
}

ul > li {
  font-family: $heading-font;
  text-transform: uppercase;
  font-size: 1.2em;
}

footer {
  font-size: 0.8em;
}
