$primary-font: 'Open Sans', 'sans serif';
$heading-font: 'Archivo Narrow', 'sans serif';

$colors: (
    blackish: #262626,
    cherry: #C32C72,
    dark-grey: #8D8D8D,
    light-grey: #E5E5E5,
    cream: #F4F3EE,
);

@function getColor($color) {
    @return map-get($colors, $color)
}